.swap-container-input{
    display: flex;
    padding-bottom: 30px;
    font-size: 40px;
    padding-top: 5px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.asset-outer-input{
    padding-top: 5px;
  }

.asset-outer{
    min-width: 120px;
  }
  
  .asset-logo{
    padding-left: 10px;
  }

  input.amount-input{
    width: 80px;    
    padding-bottom: 8px;
    font-size: 34px;
    padding-bottom: 5px
}

input.amount-input::placeholder {
  font-size: 34px;
}

.amount-calculated{
    min-width: 40px;   
    padding-bottom: 3px;
    font-size: 34px; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}