.suggestions-container{
    max-height: 90%;
    display: flex;
    flex-flow: row wrap;
    max-width: 300px;
    justify-content: center;
    width: 20%;
    position: absolute;
    padding: 16px;
  }

@media (max-width:1200px) {
    .suggestions-container{
          display: none;
      }
}
