.profile-container{
    max-height: 90%;
    display: flex;
    flex-flow: row wrap;
    max-width: 300px;
    justify-content: center;
    width: 16%;
    position: absolute;
    left: 0px;
    padding: 0px 30px;
  }

@media (max-width:1040px) {
    .profile-container{
          display: none;
      }
}
